// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
}

table#email-results {
  td {
    font-size: 12px;
    cursor: pointer;
  }
  td.nowrap {
    white-space: nowrap;
  }
}

pre {
  font-size: 11px;
}

.email-body {
  max-height: 800px;
}
.email-header {
  max-height: 200px;
}

.form-group {
  display: inline-block;
  width: 250px;
  input {
    margin-bottom: 13px;
    float: left;
  }
  float: left;
}

.field-select {
  float: left;
  font-size: 14px;
  width: 100px;
  margin-right: 20px;
}

#email-search-form {
  height: 80px;
  min-width: 800px;
}

.small {
  font-size: 12px;
}

#search {
  margin-left: 20px;
}
#download {
  margin-left: 20px;
}
